.btn--inline {
  font-size: inherit;
  color: $color-primary;
  border-bottom: 2px solid currentColor;
  padding-bottom: 3px;
  font-size: 1.4rem;

  &:hover {
    color: $color-grey-dark-1;
  }

  &:focus {
    border-bottom: 2px solid currentColor;
    /* overwriting the reset in the base file */
    animation: pulse 1s infinite;
  }

  // styling the span inside for right arrow hover effect 
  span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover span {
    margin-left: 8px;
  }
}
