.header {
  background-color: $color-white;
  border-bottom: $subtle-border-bottom;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 3.5rem;
    margin-left: 3rem;
  }

  &__status-bar {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
